.image-card {
  &:hover {
    .image-card__overlay {
      height: 2.5rem;
      margin-bottom: 5px;
    }
  }

  .image {
    transition: 0.5s ease;
    backface-visibility: hidden;
  }

  &__overlay {
    transition: 0.35s ease-out;
    background-color: rgba($color: #000, $alpha: 0.5);
  }
}
