@import "config";

.image-filters {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem 1.75rem;
    color: $primary-color;
    background-color: $secondary-bg;

    .dropdown {
        margin-left: 2rem;
        [data-toggle="dropdown"] {
            cursor: pointer;   
        }
        .dropdown-menu {
            border-radius: 0;
            background-color: $primary-color;

            .dropdown-item {
                cursor: pointer;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                color: $secondary-bg;
                background-color: $primary-color;
                padding-bottom: 0.5rem;

                i {
                    font-size: xx-small;
                }
            }
        }
    }    
}