@import "config";

.data-parsers {
    padding: 0.75rem 1.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $secondary-bg;
    color: $primary-color;

    .filter-toggler {
        display: none;
    }

    .image-filters {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        > :nth-child(2) {
            margin-left: 2rem;
        }

        .btn {
            margin-left: 2rem;
            font-size: $small;
            background-color: $primary-color;
            color: $font-color;
        }
    }
}

/* For tablet screens */
@media screen and (max-width: 992px) {
    .data-parsers {
        .sorting {
            align-self: flex-start;
        }

        .filter-toggler {
            display: block;
            margin-left: auto;
            z-index: 1;
            background-color: transparent;
            i {
                font-size: $h2;
            }
        }
        .image-filters {
            flex-direction: column;
            gap: 0.75rem;
            margin-right: 1.5rem;
            margin-top: -1rem;

            > :nth-child(2) {
                margin-left: 0;
            }

            .btn {
                margin-left: 0;
            }
        }
    }
}

/* For mobo screens */
@media screen and (max-width: 600px) {
    .data-parsers {
        padding: 0.5rem 0.5rem;
    }
}
