@import "config";

footer {
    min-height: 150px;
    background-color: $primary-color;
    text-align: center;
    bottom: 0;

    p {
        opacity: 0.65;
    }
}

.social {
    margin: 20px 0 15px 0;

    i {
        color: $font-color;
        transition: transform 0.5s cubic-bezier(0.9,-0.17, 0.06, 2.53);
        padding: 10px;
    }

    i:hover {
        transform: scale(1.25);
    }
}

@media screen and (max-width: 576px) {
    footer {
        padding: 1rem;
    }

    .social {
        margin: 10px 0;
    }
}
