@import "config";

.navbar {
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        img {
            width: 100px;
            height: 100%;
        }
    }

    form {
        input {
            border-radius: 0;
            height: 2.25rem;
            font-size: $small;
            overflow: hidden;
        }
        button {
            outline: none;
            border: none;
            cursor: pointer;
            margin-left: -1.5rem;
            color: $primary-color;
            align-self: center;
        }
    }
}

@media screen and (max-width: 576px) {
    .navbar {
        padding-left: 8px;
        padding-right: 8px;

        .logo {
            margin-left: auto;
            margin-right: auto;

            img {
                width: 80px;
                height: 100%;
            }
        }

        form {
            margin-top: 0.5rem;
            input {
                height: 2rem;
            }
            padding-left: 0;
            padding-right: 5px;
        }
    }
}
