.image-list {
  margin-top: 1.75rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 0 5px;

  /* for dynamic grid */
  /* grid-auto-rows: 10px; */
  grid-auto-rows: minmax(min-content, max-content);
  min-height: calc(100vh - 120px);

  svg {
    width: calc(100% * 1 / 5);
    height: auto;
  }
}

.empty {
  margin-top: 5rem;
  font-size: 3rem;
  color: #758184;
  text-align: center;
  margin-bottom: 20px;

  min-height: 180px;
}

.load-text {
  font-size: 1rem;
  color: #758184;
}

@media screen and (max-width: 576px) {
  .empty {
    margin-top: 2rem;
    font-size: 1rem;
    min-height: 250px;
  }
}
