@import "config";

.imgCard {
    position: relative;

    .image {
        transition: 0.5s ease;
        backface-visibility: hidden;
        z-index: 0;
        display: block;
        width: 100%;
        height: auto;
    }

    .overlay {
        z-index: 1;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 0;
        overflow: hidden;
        transition: 0.35s ease-out;
        background-color: rgba($color: #000, $alpha: 0.5);
        
        image-meta {
            display: flex;
            flex-direction: row;
            justify-content: space-between;    
            padding-left: 5px;
            padding-right: 5px;    
            
            a, a:hover {
                color: $font-color;
                text-decoration: none;
            }
        }
    }
}

.imgCard:hover {
    .overlay {
        height: 2rem;
        margin-bottom: 5px;
    }
}