.imgCard {
    position: relative;
    margin-bottom: 8.75px;
}

.img {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    z-index: 0;
}

.overlay {
    position: absolute;
    opacity: 0;
    left: 0;
    right: 0;
    bottom: 0;

    overflow: hidden;
    height: 0;
    transition: .5s ease;
    text-align: center;
}

.overlay > .link {
    margin: 0;
    position: absolute;
    top: 50%;
    padding: 5px 10px 5px 10px;
    background-color: #3f72af;
    text-decoration: none;
    color: #f9f7f7;
  }

  .imgCard:hover .img {
      opacity: 0.3;
  }

  .imgCard:hover .overlay {
      opacity: 1;
      height: 100%;
  } 


  @media screen and (max-width: 576px) {
    .imgCard {
        margin-bottom: 3rem;
    }
}