.imgCard {
    position: relative;
}

.img {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    z-index: 0;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    width: 100%;
    height: 0;
    transition: .5s ease;
    text-align: center;
}

.overlay > .link {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #3f72af;
    text-decoration: none;
    color: #f9f7f7;
  }

  .overlay > p.source {
      margin-top: 1rem;
      font-weight: 550;
      color: #263f44;
      margin-top: 0.2rem;
  }


  .imgCard:hover .img {
      opacity: 0.3;
  }

  .imgCard:hover .overlay {
      opacity: 1;
      height: 90%;
  }
  