
.search-bar {
    min-height: 300px;
    background-image: url('../imgs/w2.jpg');
    text-align: center;
}

.search-bar .disc p {
    font-family: Verdana, Geneva, sans-serif; 
}

.search-bar .disc p:nth-of-type(1) {
    font-size: 2.5rem;
}

.search-bar .disc p:nth-of-type(2) {
    font-size: 1rem;
    margin-top: 1rem;
}

form {
    margin-bottom: 15px;
}

input {
    margin-right: 10px;
}


@media screen and (max-width: 576px) {
    .search-bar {
        min-height: 300px;
    }

    .btn {
        margin-top: 10px;
    }
    .search-bar .disc p:nth-of-type(1) {
        font-size: 1.25rem;
    }
    
    .search-bar .disc p:nth-of-type(2) {
        font-size: 0.75rem;
        margin-top: 0.5rem;
    }
  }