@import "utilities";
@import "config";

.search-bar {
    min-height: 450px;
    background-image: url("../assets/imgs/w4.webp"),
        url("../assets/imgs//w4.jpg");
    text-align: center;

    .logo {
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;

        img {
            width: 180px;
            height: 100%;
        }
    }

    .desc {
        margin-top: 4.75rem;
        h2 {
            margin-bottom: 15px;
        }
        small {
            opacity: 0.75;
        }
    }

    form {
        margin-top: 1rem;
        margin-bottom: 15px;

        input {
            margin-right: 10px;
            height: 2.75rem;
            @include box-shadow;
        }

        .search-btn {
            @include box-shadow;
            background-color: $secondary-color;
            color: $font-color;
        }

        .search-btn-small {
            display: none;
            outline: none;
            background-color: $secondary-color;
            margin-left: -5px;
            padding: 0 12px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            @include box-shadow;
            z-index: 2;

            i {
                color: $font-color;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .search-bar {
        min-height: 350px;

        .desc {
            margin-top: 2.5rem;
        }
        form {
            input {
                height: 2.5rem;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .search-bar {
        min-height: 280px;

        .logo {
            margin-top: 1rem;
            margin-left: auto;
            margin-right: auto;
    
            img {
                width: 100px;
                height: 100%;
            }
        }

        .desc {
            margin-top: 0.5rem;
        }
        form {
            input {
                margin-right: 0;
                height: 2rem;
            }
            .search-btn {
                display: none;
            }
            .search-btn-small {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
}
