@font-face {
    font-family: ncs;
    src: url(../fonts/ncs.ttf);
}
  
* {
    margin: 0;
    padding: 0;
    color: #f9f7f7;
}

header {
    display: flex;
    background-color: #112d4e;
    height: 6rem;
    justify-content: center;
    align-items: center;
}

h1.header {
    font-family: ncs;
    display: flex;
    font-weight: 300;
}


