@font-face {
    font-family: ncs;
    src: url(../fonts/ncs.ttf);
}

@font-face {
    font-family: raleway;
    src: url(../fonts/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    color: #f9f7f7;
    font-family: raleway;
}

header {
    display: flex;
    background-color: #112d4e;
    height: 6rem;
    justify-content: center;
    align-items: center;
}

h1.header {
    font-family: ncs;
    display: flex;
    font-weight: 300;
}


