@font-face {
    font-family: ncs;
    src: url(../fonts/ncs.ttf);
}

@font-face {
    font-family: raleway;
    src: url(../fonts/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    color: #f9f7f7;
    font-family: raleway;
}

div.App, div#root {
    margin: 0;
    height: 100%;
}

.navbar {
    display: flex;
    background-color: #112d4e;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-family: ncs;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 576px) {
    .navbar {
        font-size: 1.25rem;
    }
  }